# Ignore node_modules directory
/node_modules/

# Ignore log files
*.log

# Ignore all environment variable files
*.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build directories
/build/
dist/

# Ignore macOS system files
.DS_Store

# Ignore specific files
secrets.txt
